/* ------FOOTER------ */
footer {
    border-top: solid 5px whitesmoke;
    font-family: sofiaR;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 1rem 2rem ;
    font-size: 1.8rem;
    justify-content: space-between;
}
footer img{
    width: 200px;
}
footer li {
    list-style-type: none;

}
.reseaux {
    text-align: center;
}
.reseaux ul{
    display: flex;
    font-size: 2.3rem;
    color: #f7f7f7;
}
.reseaux li {
    margin: 0.5rem;
}
footer a {
    color: #f7f7f7;
}
footer a:hover {
    color: grey;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    .reseaux {
        margin: 1rem;
    }

}